*{

    margin: 0;
    padding: 0;
}

body{

    background:#F29966;
    background:#F2C879;
    height: 100%;
    display: block;
   
}


.avatar{

    width: 80px;
    border-radius: 50%;
    box-shadow:white;
    margin-top: 10px;
    position: relative;
    
    
    
}

.Profile{

    text-align: left;
    margin-left: 30%;
    margin-top: 20px;
    display: flex;
    
    
}

.Profile p{
    margin-top: 20px;
    margin-left: 10px ;
}

p{
   
    font-family: 'Inconsolata', monospace;
    font-size:15px;
    color: #553c0f;
    font-weight: 600;
}




.links {
    list-style: none;
    text-align: center;
    text-decoration: none;

}

.links li{


padding: 5px 20px;
margin-top: 10px;
text-decoration: none;
    
}
.links li a {

   text-decoration: none;
   background-color: #fff;
   border-radius: 50px;
   padding: 10px;
   margin-bottom: -8px;
   display: block;
   color: #553c0f;
   font-weight: bold;

}
.links li a span{

    color: #737373;
  
}
 .social{

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 30px 0;
 }

 .social img{

    width: 33px;
   
 }

 .youtube{

    margin: 20px 20px;
    
    display: flex;
    justify-content: center;
 }
  
    
